.App {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  background-color: #3b4457;
  color: white;
}

.Menu-button {
  float: right;
}

.Body {
  align-items: right;
}